iflytek/autoDevelop/n8n_develop.json
{
  "name": "develop",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "uploadJar",
        "options": {
          "binaryData": true
        }
      },
      "id": "c9a715ac-8250-4b40-97da-00ca33c7070d",
      "name": "Webhook Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1100,
        -40
      ],
      "webhookId": "71112d55-f154-4229-ba8a-144381526f0e"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "python",
        "pythonCode": "# 从 URL query 参数中获取我们自己传递的 \"fileName\" 字段\nquery_params = item.get(\"json\", {}).get(\"query\")\nfile_name = query_params.get(\"fileName\")\n\n# 新的、更清晰的错误检查\nif not file_name:\n    raise ValueError(f\"无法从 URL Query 参数中找到 fileName 字段。收到的 Query 为: {query_params}\")\n\n# 检查二进制数据是否存在，如果不存在也给出警告（但流程继续）\nbinary_data = item.get(\"binary\")\nif not binary_data:\n    raise ValueError(\"警告: 未在输入中找到二进制文件数据(binary property)。后续文件操作节点可能会失败。\")\n\n\n# 定义你的文件部署映射\nfile_map = {\n    \"ts-service-5.0.jar\": {\n        \"targetDir\": \"/iflytek/server/zhft-4.0-mysql/ts-service-inner/ts-service-5.0/ts-service-5.0\",\n        \"port\":9191,\n    },\n    \"aicourt-monitor-service-1.0.jar\": {\n        \"targetDir\": \"/iflytek/server/zhft-4.0-mysql/aicourt-monitor-service-1.0\",\n        \"port\":7901,\n    },\n    \"aicourt-video-service-1.0.jar\": {\n        \"targetDir\": \"/iflytek/server/zhft-4.0-mysql/aicourt-video-service-1.0\",\n        \"port\":7902,\n    },\n    \"aicourt-assistant-service.jar\": {\n        \"targetDir\": \"/iflytek/server/zhft-4.0-mysql/aicourt-assistant-service\",\n        \"port\":7100,\n    }\n}\n\nif file_name not in file_map:\n    raise ValueError(f\"不支持的文件名: {file_name}。请在 Code 节点的 file_map 中添加配置。\")\n\nconfig = file_map[file_name]\ntarget_dir = config[\"targetDir\"]\nservice_port = config[\"port\"] \nrestart_script = f\"{target_dir}/restartup.sh\"\n\ntempFileName = binary_data.get(\"data\",{}).get(\"fileName\")\nreturn {\n    \"fileName\": file_name,\n    \"targetDir\": target_dir,\n    \"restartScript\": restart_script,\n    \"tempFilePath\": f\"/tmp/{tempFileName}\",\n    \"tempFileName\" :tempFileName,\n    \"port\": service_port,\n    \"binary\": binary_data\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -920,
        -40
      ],
      "id": "ca6351d8-2b3d-474c-9e0e-fa2b41f117fe",
      "name": "路径转换",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "file",
        "path": "/tmp",
        "options": {}
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -760,
        -40
      ],
      "id": "216b459a-1354-44c6-b1cb-0fc16b21f9df",
      "name": "上传到服务器",
      "credentials": {
        "sshPassword": {
          "id": "MMYDXQ2EN5R5CeZM",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -e\n\n# 从 n8n 获取我们准备好的所有变量\n# 文件的【最终正确名】\nFINAL_FILE={{ $('路径转换').item.json.fileName }}\n# 文件在 /tmp 目录下的【临时随机名】\nTEMP_FILE_NAME={{ $('路径转换').item.json.tempFileName}}\n# 部署的目标目录\nDIR={{ $('路径转换').item.json.targetDir }}\n\n# 临时文件的完整路径\nTEMP_FILE_PATH=\"/tmp/$TEMP_FILE_NAME\"\n\n# --- 核心操作开始 ---\n\n# 1. 移动到目标目录\ncd \"$DIR\"\n\n# 2. 创建备份目录\nmkdir -p backup\n\n# 3. 如果目标位置已存在同名文件（旧版本），则备份它\nif [ -f \"$FINAL_FILE\" ]; then\n  cp \"$FINAL_FILE\" \"backup/$FINAL_FILE.$(date +%Y%m%d%H%M%S)\"\nfi\n\n# 4. 将临时文件移动到当前目录，并【重命名】为最终的正确名字\n# 这是最关键的一步！\nmv \"$TEMP_FILE_PATH\" \"./$FINAL_FILE\"\n\n# 5. （可选）给新文件设置正确的权限\n# chmod 644 \"$FINAL_FILE\""
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -580,
        -40
      ],
      "id": "89dc83a9-9b75-4650-a1d7-e04a2d6e2545",
      "name": "ssh备份并替换",
      "credentials": {
        "sshPassword": {
          "id": "MMYDXQ2EN5R5CeZM",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "=# 部署的目标目录 \nDIR={{ $('路径转换').item.json.targetDir }}\n# 1. 移动到目标目录\ncd \"$DIR\"\nJAVA_BIN_DIR=/usr/java/jdk1.8.0_361/bin/java\nexport PATH=$JAVA_BIN_DIR:$PATH\nbash -l -c \"cd {{ $('路径转换').item.json.targetDir }} && bash {{ $('路径转换').item.json.restartScript }}\"\n\n"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -400,
        -40
      ],
      "id": "5dc7a719-8f0e-4abb-97a1-92fe4cb819e3",
      "name": "重启服务",
      "credentials": {
        "sshPassword": {
          "id": "MMYDXQ2EN5R5CeZM",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ffa7cd60-4918-467a-afb3-d6e30b96bf0c",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        260,
        -40
      ],
      "id": "06a2dbe8-4617-4973-80c8-2789a498d0af",
      "name": "If"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://open.xfchat.iflytek.com/open-apis/bot/v2/hook/93a8d243-6f8f-4b4c-9ab6-3ac2d9f7acda",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n    \"msg_type\": \"interactive\",\n    \"card\":\n    {\n        \"elements\":\n        [\n            {\n                \"tag\": \"div\",\n                \"text\":\n                {\n                    \"content\": \"部署成功\\n\\n**时间:** {{  $now.setZone('Asia/Shanghai').toFormat('yyyy-MM-dd HH:mm:ss') }}\",\n                    \"tag\": \"lark_md\"\n                }\n            },\n            {\n                \"actions\":\n                [\n                    {\n                        \"tag\": \"button\",\n                        \"text\":\n                        {\n                            \"content\": \"查看详情:玫瑰:\",\n                            \"tag\": \"lark_md\"\n                        },\n                        \"url\": \"http://172.31.160.184:5678/workflow/CCuqWj9nv9ucjsIM/executions\",\n                        \"type\": \"default\",\n                        \"value\":\n                        {}\n                    }\n                ],\n                \"tag\": \"action\"\n            }\n        ],\n        \"header\":\n        {\n            \"title\":\n            {\n                \"content\": \" {{ $('路径转换').item.json.fileName }}\",\n                \"tag\": \"plain_text\"\n            }\n        }\n    }\n}"
      },
      "id": "9f104972-9eda-4b43-98b3-e41f1f4ac69a",
      "name": "探活成功通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        480,
        -140
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://open.xfchat.iflytek.com/open-apis/bot/v2/hook/93a8d243-6f8f-4b4c-9ab6-3ac2d9f7acda",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n    \"msg_type\": \"interactive\",\n    \"card\":\n    {\n        \"elements\":\n        [\n            {\n                \"tag\": \"div\",\n                \"text\":\n                {\n                    \"content\": \"部署失败，请手动检查\\n\\n**时间:** {{  $now.setZone('Asia/Shanghai').toFormat('yyyy-MM-dd HH:mm:ss') }}\",\n                    \"tag\": \"lark_md\"\n                }\n            },\n            {\n                \"actions\":\n                [\n                    {\n                        \"tag\": \"button\",\n                        \"text\":\n                        {\n                            \"content\": \"查看详情:玫瑰:\",\n                            \"tag\": \"lark_md\"\n                        },\n                        \"url\": \"http://172.31.160.184:5678/workflow/CCuqWj9nv9ucjsIM/executions\",\n                        \"type\": \"default\",\n                        \"value\":\n                        {}\n                    }\n                ],\n                \"tag\": \"action\"\n            }\n        ],\n        \"header\":\n        {\n            \"title\":\n            {\n                \"content\": \" {{ $('路径转换').item.json.fileName }}\",\n                \"tag\": \"plain_text\"\n            }\n        }\n    }\n}"
      },
      "id": "cbae3212-60d7-4b10-b050-d3ad6541af2d",
      "name": "探活失败通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        480,
        60
      ]
    },
    {
      "parameters": {
        "command": "=host=172.31.160.184;port={{ $('路径转换').item.json.port }};for i in $(seq 1 360);do nc -z -w 2 $host $port && echo open && exit 0;sleep 1;done;echo closed;exit 1"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        100,
        -40
      ],
      "id": "58587020-a7dd-4312-a56e-6708183ca08b",
      "name": "探活"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://open.xfchat.iflytek.com/open-apis/bot/v2/hook/93a8d243-6f8f-4b4c-9ab6-3ac2d9f7acda",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n    \"msg_type\": \"interactive\",\n    \"card\":\n    {\n        \"elements\":\n        [\n            {\n                \"tag\": \"div\",\n                \"text\":\n                {\n                    \"content\": \"部署中\\n\\n**时间:** {{  $now.setZone('Asia/Shanghai').toFormat('yyyy-MM-dd HH:mm:ss') }}\",\n                    \"tag\": \"lark_md\"\n                }\n            },\n            {\n                \"actions\":\n                [\n                    {\n                        \"tag\": \"button\",\n                        \"text\":\n                        {\n                            \"content\": \"查看详情:玫瑰:\",\n                            \"tag\": \"lark_md\"\n                        },\n                        \"url\": \"http://172.31.160.184:5678/workflow/CCuqWj9nv9ucjsIM/executions\",\n                        \"type\": \"default\",\n                        \"value\":\n                        {}\n                    }\n                ],\n                \"tag\": \"action\"\n            }\n        ],\n        \"header\":\n        {\n            \"title\":\n            {\n                \"content\": \" {{ $('路径转换').item.json.fileName }}\",\n                \"tag\": \"plain_text\"\n            }\n        }\n    }\n}"
      },
      "id": "106f73f9-9fef-42d0-aafe-f1f86fb41b8a",
      "name": "飞书通知产研测",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -80,
        -40
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://open.xfchat.iflytek.com/open-apis/bot/v2/hook/dae1964d-21be-43e3-b9e0-f74dbf1fb30a",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n    \"msg_type\": \"interactive\",\n    \"card\":\n    {\n        \"elements\":\n        [\n            {\n                \"tag\": \"div\",\n                \"text\":\n                {\n                    \"content\": \"部署中\\n\\n**时间:** {{  $now.setZone('Asia/Shanghai').toFormat('yyyy-MM-dd HH:mm:ss') }}\",\n                    \"tag\": \"lark_md\"\n                }\n            },\n            {\n                \"actions\":\n                [\n                    {\n                        \"tag\": \"button\",\n                        \"text\":\n                        {\n                            \"content\": \"查看详情:玫瑰:\",\n                            \"tag\": \"lark_md\"\n                        },\n                        \"url\": \"http://172.31.160.184:5678/workflow/CCuqWj9nv9ucjsIM/executions\",\n                        \"type\": \"default\",\n                        \"value\":\n                        {}\n                    }\n                ],\n                \"tag\": \"action\"\n            }\n        ],\n        \"header\":\n        {\n            \"title\":\n            {\n                \"content\": \" {{ $('路径转换').item.json.fileName }}\",\n                \"tag\": \"plain_text\"\n            }\n        }\n    }\n}"
      },
      "id": "7b0df2a9-056c-4025-80bb-062d44128888",
      "name": "飞书通知自动部署",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -240,
        -40
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://open.xfchat.iflytek.com/open-apis/bot/v2/hook/dae1964d-21be-43e3-b9e0-f74dbf1fb30a",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n    \"msg_type\": \"interactive\",\n    \"card\":\n    {\n        \"elements\":\n        [\n            {\n                \"tag\": \"div\",\n                \"text\":\n                {\n                    \"content\": \"部署成功\\n\\n**时间:** {{  $now.setZone('Asia/Shanghai').toFormat('yyyy-MM-dd HH:mm:ss') }}\",\n                    \"tag\": \"lark_md\"\n                }\n            },\n            {\n                \"actions\":\n                [\n                    {\n                        \"tag\": \"button\",\n                        \"text\":\n                        {\n                            \"content\": \"查看详情:玫瑰:\",\n                            \"tag\": \"lark_md\"\n                        },\n                        \"url\": \"http://172.31.160.184:5678/workflow/CCuqWj9nv9ucjsIM/executions\",\n                        \"type\": \"default\",\n                        \"value\":\n                        {}\n                    }\n                ],\n                \"tag\": \"action\"\n            }\n        ],\n        \"header\":\n        {\n            \"title\":\n            {\n                \"content\": \" {{ $('路径转换').item.json.fileName }}\",\n                \"tag\": \"plain_text\"\n            }\n        }\n    }\n}"
      },
      "id": "37e3061d-e12e-46d3-9981-7336b1b7c508",
      "name": "探活成功通知-自动部署",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        480,
        -320
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://open.xfchat.iflytek.com/open-apis/bot/v2/hook/93a8d243-6f8f-4b4c-9ab6-3ac2d9f7acda",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n    \"msg_type\": \"interactive\",\n    \"card\":\n    {\n        \"elements\":\n        [\n            {\n                \"tag\": \"div\",\n                \"text\":\n                {\n                    \"content\": \"部署失败，请手动检查\\n\\n**时间:** {{  $now.setZone('Asia/Shanghai').toFormat('yyyy-MM-dd HH:mm:ss') }}\",\n                    \"tag\": \"lark_md\"\n                }\n            },\n            {\n                \"actions\":\n                [\n                    {\n                        \"tag\": \"button\",\n                        \"text\":\n                        {\n                            \"content\": \"查看详情:玫瑰:\",\n                            \"tag\": \"lark_md\"\n                        },\n                        \"url\": \"http://172.31.160.184:5678/workflow/CCuqWj9nv9ucjsIM/executions\",\n                        \"type\": \"default\",\n                        \"value\":\n                        {}\n                    }\n                ],\n                \"tag\": \"action\"\n            }\n        ],\n        \"header\":\n        {\n            \"title\":\n            {\n                \"content\": \" {{ $('路径转换').item.json.fileName }}\",\n                \"tag\": \"plain_text\"\n            }\n        }\n    }\n}"
      },
      "id": "00316dd5-dc02-4afd-b6a5-d96e8b8d9044",
      "name": "探活失败通知-自动部署",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        480,
        260
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Upload": {
      "main": [
        [
          {
            "node": "路径转换",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "路径转换": {
      "main": [
        [
          {
            "node": "上传到服务器",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传到服务器": {
      "main": [
        [
          {
            "node": "ssh备份并替换",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ssh备份并替换": {
      "main": [
        [
          {
            "node": "重启服务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "重启服务": {
      "main": [
        [
          {
            "node": "飞书通知自动部署",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "探活成功通知",
            "type": "main",
            "index": 0
          },
          {
            "node": "探活成功通知-自动部署",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "探活失败通知",
            "type": "main",
            "index": 0
          },
          {
            "node": "探活失败通知-自动部署",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "探活": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "飞书通知产研测": {
      "main": [
        [
          {
            "node": "探活",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "飞书通知自动部署": {
      "main": [
        [
          {
            "node": "飞书通知产研测",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5831d0b1-9839-47a7-b552-c0df93859260",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7267b1d1c6953306c4553ebb6242f052f9cc1942983e463158d66b219426e6e0"
  },
  "id": "CCuqWj9nv9ucjsIM",
  "tags": []
}